<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--C3P0配置 -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">3600</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://47.101.198.61:3306/jsp_xykuaidisys?useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;allowPublicKeyRetrieval=true</property>
		<property name="connection.username">jsp_xykuaidisys</property>
		<property name="connection.password">jsp_xykuaidisys</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="bean.User"></mapping>
		<mapping class="bean.Express"></mapping>
		<mapping class="bean.Friend"></mapping>
		<mapping class="bean.Message"></mapping>
		<mapping class="bean.Apply"></mapping>
		 
	</session-factory>

</hibernate-configuration>